## Database settings
DATABASE_NAME=gestao_risco_ufsm
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5433

## Django settings
SECRET_KEY=django-insecure-development-only-key
DEBUG=True
