# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env
.coverage
.pytest_cache/
.ruff_cache/

# Django
db.sqlite3
media/
staticfiles/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.vscode/
.idea/
.DS_Store
